body {
    background-color: lightgreen;
}

h1 {
    color: green;
    text-align: center;
}

strong {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}

div{
    
    background-color:grey
}

.caixa {
    width: 8%;
    height: 30px;
    padding: 10px;
    border: 2px solid black;
    bottom: 20px;
    background-color: pink
}


.caixa2 {
    width: 8%;
    height: 30px;
    padding: 10px;
    border: 2px solid black;
    bottom: 20px;
    background-color: red
}

#ultima-caixa {
    width: 8%;
    height: 30px;
    padding: 10px;
    border: 2px solid black;
    bottom: 20px;
    background-color:blue
    
}

p {
    background-color: yellow;
    width: 10%;
    height: 30px;
    padding: 10px;
    border: 2px solid black;
    bottom: 20px;
}
