.home_header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 40px;
   
  }

.home_header_navbar {
    display: flex;
    gap: 16px;
}


a:hover {
    scale: 1.09;
    color: rgb(212, 51, 212);
    size: 20px;
}

